@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 General styles                                                          */
/*-------------------------------------------------------------------------------------------------------------------------*/

html, body {
    height: 100%;
    margin: 0px;
}

body {
    background: url('/media/pexels-pixabay-220237.jpg') no-repeat center center fixed;
    background-size: cover;
}

.text-white {
    color: #fff;
}

.text-small-black {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.braker {
    margin: 0px 8px 0px 5px;
}

#content-holder{
    margin: 0;
    padding: 0;
}

.text-general {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.cursor-fix {
    cursor: pointer;
}

.transparent-bbtn {
    margin-left: 12.5%;
    min-height: 50px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    padding-top: 2%;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0;
    padding-top: 10px;
}

.transparent-bbtn:hover {
    background-color: #fca311;
}

.colored-bbtn {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fca311;
    border: 2px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    min-height: 50px;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.colored-bbtn:hover:hover {	
	color: #fff;
    background-color: #222;
    border-color: #fca311;
}

.black-bbtn {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 2px solid #fca311;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    min-height: 50px;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
}

.black-bbtn:hover:hover {	
	color: #000;
    background-color: #fca311;
    border-color: #000;
}

.big-bbt {
    font-size: 2.5rem;
    min-height: 75px;
    min-width: 35%;
}

.modal {
    z-index: 999999999;
}

.center-item {
    margin-left: 20%;
}

.width-ajustment {
    width: 75%;
}

/* General Form Style */

.fform {
    border: 1px solid #000;
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;
}

.fform-transparent {
    border: 1px solid #000;
    border-radius: 5px;

    font-family: 'Roboto', sans-serif;
}

.fform-transparent:hover {
    background-color: #fca311;
}

/* --- --- */

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Hero Image                                                              */
/*-------------------------------------------------------------------------------------------------------------------------*/

#hero-images {
    width: 100%;
    height: 75%;
}

#hero-images img {
    height: 75%;
    width: 100%;
    object-fit:  cover;
    filter: brightness(50%);
}

.cover-text {
    min-width: 50%;
    height: 225px;
    top: 25%;
    right: 15px;
    position: absolute;
}

.cover-text h2 {
    color: #ffffff;
    -webkit-text-fill-color: fff; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;

    font-size: 48px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 4px;
    font-weight: 900;
}


/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Navigation Bar Styles                                                   */
/*-------------------------------------------------------------------------------------------------------------------------*/

#main-navigation-bar {
    background-color: #000;
    /* margin-bottom: 20px; */
    z-index: 3000;
}

/* --- Navigation bar text --- */
.navigation-link-text {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

.navigation-link-text-white {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}


.navigation-link-text-black {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

.navigation-link-text:hover {
    color: #fca311;
}

.navigation-link-text-white:hover {
    color: rgb(123, 216, 86);
}
/* --- --- --- */

#header-gym-logo {
    height: 65px;
    width: 65px;

    margin: 5px 0 5px;
}

#header-gym-logo:hover {
    border: 2px solid #fca311;
    border-radius: 50%;
}

#navigation-links ul {
    margin: 0;
}

#navigation-links li {
    margin: 0 25px 0;
}

#header-login-button {
    box-shadow: none;

    background-color: #000000;
    border: 2px solid #fca311;
    padding: 3px 35px 3px;
}

#header-login-button:hover {
   color: #000;
   background-color: #fca311;
}

.my-account {
    margin-top: 20px;
}

.search-bar {
    min-height: 50px;
}

.search-form {
    border: 2px solid #fca311;
    border-radius: 5px;
}

.search-icon:hover {
    color: #fff;
}

.search-bar .btn {
    padding-top: 2px;
    padding-bottom: 0;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
    #header-login-button {
        padding: 3px 15px 3px;
    }
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Product Styles                                                     */
/*-------------------------------------------------------------------------------------------------------------------------*/

.card-container {
    margin-bottom: 15px;
    margin-left: 5%;
    background-color: #fff;
    padding: 15px 5px 15px 5px;
    border-radius: 5px;
    width: 90%;

    padding: 5px 10px 5px 15px;
}

.card-container a {
    text-decoration: none;
}

.card-container .card,
.card-container-plain .card {
    border: 3px solid #000;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-container-nohover .card {
    border: 3px solid #000;
    border-radius: 5px;
}

.card-container .card-img-container {
    height: 200px;
}

.card-img-container img {
    height: 200px;
    object-fit:  cover;
}

.card-title-text {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 160px; 
    height: 1.4em; 
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

@media (min-width: 960px) {
    .card-container .card-img-container {
        height: 325px;
    }

    .card-img-container img {
        height: 325px;
        object-fit:  cover;
    }

    .card-container .card {
        min-height: 550px;
    }
}

.card-container .card:hover {
    border-color: #fca311;
}

.card-container .card-text {
    border-top: 1px solid grey;
    margin-top: 10px;
}

.feuter-title-text {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.dproduct-title-text {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;

    margin: 0 10px 0;
}

.categories-list {
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    border: 2px solid #000;
    border-radius: 5px;
}

.categories-list ul,
a {
    margin-top: 15px;
}

.categories-list a:hover {
    color: #000;
}

.sort-buttons {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.65);
    height: 50px;
    max-width: 50px;
    position: absolute;
    z-index: 2000;
    width: 100%;
    margin-right: 0;
    left: 0;
    padding: 0;
}

.sort-buttons button{
    font-size: 25px;;
}

.sort-buttons ul {
    margin-left: 15px;
    padding-left: 0;
    width: 100%;
}

.sort-buttons a {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 100%;
}

#scrol-top {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.65);
    height: 75px;
    width: 50px;
    position: fixed;
    bottom: 0;
    right: 20px;
    cursor: pointer;
}

#scrol-top .col {
    margin-top: 10px;
    padding: 0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 100%;
}


/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Product Detail styles                                                  */
/*-------------------------------------------------------------------------------------------------------------------------*/

.quantaty-container {
    border: 2px solid #000;
    border-radius: 5px;
}

.details-bbtn-add {
    min-height: 50px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fca311;
    padding-top: 2%;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.details-bbtn-add:hover {
    border: 2px solid #fca311;
    background-color: #000;
    color: #fca311;
}

.return-bbtn {
    margin-left: 12.5%;
    width: 75%;
    min-height: 50px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    padding-top: 2%;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0;
    padding-top: 10px;
    min-width: 100%;
}

.return-bbtn:hover {
    background-color: #fca311;
}

.details-price {
    margin-top: 5px;
    border-top: 1px solid #000;
}

.detail-price {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.dproduct-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Shopping bag styles                                                     */
/*-------------------------------------------------------------------------------------------------------------------------*/

.sb-img {
    height: 250px;
    width: auto;
    object-fit:  cover;
}


/* Message styles */

.message-container {
    position: fixed;
    top: 50px;
    left: 100px;
    z-index: 999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* Succes toast styles */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-btn {
    border: 2px solid #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.toast-btn:hover {
    background-color: #fca311;
}

.details-bbtn-checkout {
    min-height: 50px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fca311;
    padding-top: 2%;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.details-bbtn-checkout:hover {
    border: 2px solid #fca311;
    background-color: #000;
    color: #fca311;
}

/* --- --- */


/* Allauth form formatting */

.allauth-form-inner-content {
    background-color: #fff;
    padding: 10px 15px 5px 20px;
    border: 2px solid #000;
    border-radius: 5px;
}

.allauth-form-inner-content p {
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #000;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fca311;
    border: 2px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    min-height: 50px;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #fca311;
}

/* ----- */


/* Product Form styles */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checbox .cutom-control-label::before {
    border-color: #dc3545;
}

.custom-checbox .custom-control-input:checked~.custom-cntrol-label::before {
    background-color: #dc3535;
    border-color: #dc3545;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                Comunity styles                                                          */
/*-------------------------------------------------------------------------------------------------------------------------*/

.message-form-bbtn {
    margin-bottom: 25px;
    margin-top: 25px;
}

#collapseForm {
    margin-left: 10%;
}

.message-form-input {
    width: 75%;
    height: 35px;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    padding-left: 15px;
}

.message-form-input-textarea {
    width: 75%;
    height: 250px;
    margin-bottom: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.message-information {
    background-color: #aab7c4;
    padding-top: 10px;
    padding-bottom: 10px;
}

.messagee-container {
    background-color: #d9dbdd;
    padding-top: 10px;
}


/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                               Smaler screen styler                                                      */
/*-------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 1075.98px) {
    /* Navigation bar styles */
    .navigation-link-text,
    .navigation-link-text-white {
        font-size: 20px;
        letter-spacing: 0;
    }
    
    #navigation-links li {
        margin: 0 10px 0;
    }
    /* --- --- */

    /* Shopping bag image */
    .sb-img {
        height: 150px;
        object-fit:  cover;
    }
    /* --- --- */
}

@media (max-width: 768px) {
    /* Shopping bag image */
    .sb-img {
        height: 100px;
        object-fit:  cover;
    }
    /* --- --- */

    .bbt-aligntment-center {
        text-align: center;
    }

    .width-ajustment {
        width: 100%;
    }

    .center-item {
        margin-left: 5%;
    }
}

@media (max-width: 355px) {
    /* Navigation bar styles */
    .navigation-link-text {
        font-size: 10px;
        letter-spacing: 0;
    }
    
    #navigation-links li {
        margin: 0 10px 0;
    }
    /* --- --- */

    /* Buttons */
    .transparent-bbtn {
        min-height:35px;
        font-size: 15px;
        padding: 5px;
    }

    .colored-bbtn {
        min-height: 35px;
        font-size: 15px;
        padding: 5px;
    }
    /* --- --- */

    /* Allauth buttons */
    .allauth-form-inner-content button {
        padding: 5px;
        min-height: 35px;
        font-size: 15px;
    }
    /* --- --- */

    /* Product details */
    #id_product_size {
        margin-bottom: 10px;
    }
    /* --- --- */
}

/*-------------------------------------------------------------------------------------------------------------------------*/
