@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body {
    height: 100%;
    margin: 0px;
}

/*  Images copied from [https://www.pexels.com/photo/blur-chains-chrome-close-up-220237/]
    on 2021-05-11
    Author: Pixabay */
body {
    background: url('/media/pexels-pixabay-220237.jpg') no-repeat center center fixed;
    background-size: cover;
}

.text-white {
    color: #fff;
}

.text-small-black {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.braker {
    margin: 0px 8px 0px 5px;
}

#content-holder{
    margin: 0;
    padding: 0;
}

.text-general {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#scrol-top {
    border-radius: 5px;
    background-color: rgb(99, 91, 91, 0.65);
    height: 75px;
    width: 50px;
    position: fixed;
    bottom: 0;
    right: 20px;
    cursor: pointer;
}

#scrol-top .col {
    margin-top: 10px;
    padding: 0;
    color: #c07d12;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 100%;
}

.cursor-fix {
    cursor: pointer;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Navigation Bar Styles                                                   */
/*-------------------------------------------------------------------------------------------------------------------------*/

#main-navigation-bar {
    background-color: #000;
    margin-bottom: 20px;
    z-index: 3000;
}

.navigation-link-text {
    color: #fca311;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

.navigation-link-text-white {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

.navigation-link-text-black {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
}

.navigation-link-text:hover {
    color: #fca311;
}

.navigation-link-text-white:hover {
    color: rgb(123, 216, 86);
}

#header-gym-logo {
    height: 65px;
    width: 65px;

    margin: 5px 0 5px;
}

#header-gym-logo:hover {
    border: 2px solid #fca311;
    border-radius: 50%;
}

#navigation-links ul {
    margin: 0;
}

#navigation-links li {
    margin: 0 25px 0;
}

#header-login-button {
    box-shadow: none;

    background-color: #000000;
    border: 2px solid #fca311;
    padding: 3px 35px 3px;
}

#header-login-button:hover {
   color: #000;
   background-color: #fca311;
}

.my-account {
    margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 1075.98px) {
    .navigation-link-text {
        font-size: 20px;
        letter-spacing: 0;
    }
    
    #navigation-links li {
        margin: 0 10px 0;
    }
}

@media (min-width: 768px) and (max-width: 1119.98px) {
    #header-login-button {
        padding: 3px 15px 3px;
    }
}

.search-bar {
    min-height: 50px;
}

.search-form {
    border: 2px solid #fca311;
    border-radius: 5px;
}

.search-icon:hover {
    color: #fff;
}

.search-bar .btn {
    padding-top: 2px;
    padding-bottom: 0;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Product Styles                                                     */
/*-------------------------------------------------------------------------------------------------------------------------*/

.card-container {
    margin-bottom: 15px;
    margin-left: 5%;
    background-color: #fff;
    padding: 15px 5px 15px 5px;
    border-radius: 5px;
    width: 90%;
}

.card-container a {
    text-decoration: none;
}

.card-container .card {
    border: 3px solid #000;
    border-radius: 5px;
    height: 450px;
    margin-bottom: 15px;
}

.card-container-nohover .card {
    border: 3px solid #000;
    border-radius: 5px;
}

.card-container .card-img-container {
    height: 200px;
}

.card-img-container img {
    height: 200px;
    object-fit:  cover;
}

@media (min-width: 960px) {
    .card-container .card-img-container {
        height: 325px;
    }

    .card-img-container img {
        height: 325px;
        object-fit:  cover;
    }

    .card-container .card {
        height: 550px;
    }
}

.card-container .card:hover {
    border-color: #fca311;
}

.card-container .card-text {
    border-top: 1px solid grey;
    margin-top: 10px;
}

.feuter-title-text {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.dproduct-title-text {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;

    margin: 0 10px 0;
}

.categories-list {
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 15px;
    border: 2px solid #000;
    border-radius: 5px;
}

.categories-list ul,
a {
    margin-top: 15px;
}

.categories-list a:hover {
    color: #000;
}

.sort-buttons {
    border-radius: 5px;
    background-color: rgb(99, 91, 91, 0.35);
    min-height: 100px;
    max-width: 100px;
    position: absolute;
    z-index: 2000;
    width: 100%;
    margin-right: 0;
    left: 0;
}

.sort-buttons ul {
    margin-left: 15px;
    padding-left: 0;
    width: 100%;
}

.sort-buttons a {
    color: #c07d12;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 100%;
}


/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                  Product Detail styles                                                  */
/*-------------------------------------------------------------------------------------------------------------------------*/

.quantaty-container {
    border: 2px solid #000;
    border-radius: 5px;
}

.details-bbtn-add {
    min-height: 50px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fca311;
    padding-top: 2%;

    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.details-bbtn-add:hover {
    border: 2px solid #fca311;
    background-color: #000;
    color: #fca311;
}

.details-bbtn {
    margin-left: 12.5%;
    width: 75%;
    min-height: 50px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    padding-top: 2%;
}

.details-bbtn a {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0;
}

.details-bbtn:hover {
    background-color: #fca311;
}

.details-price {
    margin-top: 5px;
    border-top: 1px solid #000;
}

.detail-price {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.dproduct-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

/*-------------------------------------------------------------------------------------------------------------------------*/
/*                                                 Shopping bag styles                                                     */
/*-------------------------------------------------------------------------------------------------------------------------*/

.sb-img {
    height: 250px;
    width: auto;
    object-fit:  cover;
}