{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'user_inventory/css/inventory.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid card-container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Inventory</h2>
                <hr>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted">User Information</p>
                <form action="" method="POST" id="profile-update-form" class="mt-3">
                    {% csrf_token %}
                    {{ form.username | as_crispy_field }}
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history_unique' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        {% for item in order.lineitems.all %}
                                            <li class="small" name="{{ item.product.id }}">
                                                {{ item.product.name }}
                                            </li>
                                        {% endfor %}
                                    </td>
                                    <td>{{ order.order_total }} €</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}