<div class="container-fluid d-flex d-md-none justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            <ul class="list-inline">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <div class="row admin-tools w-100">
                        <div class="col">
                            <a href="" class="navigation-link-text-white">Product Management</a>
                        </div>
                    </div>
                    {% endif %}
                    <li class="list-inline-item"><a href="" class="navigation-link-text"><i class="fas fa-user fa-lg"></i><span>My Profile</span></a></li>
                    <li class="list-inline-item text-left navigation-link-text braker">|</li>
                    <li class="list-inline-item"><a href="{% url 'account_logout' %}" class="navigation-link-text">Logout</a></li>
                {% else %}            
                    <li class="list-inline-item"><a href="{% url 'account_signup' %}" class="navigation-link-text">Register</a></li>
                    <li class="list-inline-item text-left navigation-link-text braker">|</li>
                    <li class="list-inline-item"><a href="{% url 'account_login' %}" class="navigation-link-text-white">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>