<!-- Burger Menu [Code coppyd from https://getbootstrap.com/]-->
<div class="col-8 col-md d-flex d-md-none justify-content-end align-items-center">
    
    <!-- Shoping cart total -->
        <a class="text-center {% if grand_total %} navigation-link-text-white {% else %} navigation-link-text {% endif %}"
            href="{% url 'view_bag' %}">
            <i class="fas fa-shopping-bag fa-lg"></i>
            <br>
            <span class="my-0">
                {% if grand_total %}
                    ${{ grand_total|floatformat:2 }}
                {% else %}
                    $0.00
                {% endif %}
            </span>
        </a>

    <div class="btn-group dropleft">
        <!-- "Toggle" icon -->
        <button id="burger-menu-icon" type="button" class="btn btn-secondary navigation-link-text" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars"></i>
        </button>
        <!-- "Toggle" icon drop down menu links -->
        <div class="dropdown-menu dropleft burger-menu-items-box">
            <a class="dropdown-item burger-menu-text" href="{% url 'home' %}"><span>Home</span></a>
            <a class="dropdown-item burger-menu-text" href="{% url 'products' %}"><span>Products</span></a>
            <!-- Register/Login and my account buttons -->
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <!-- Admin Tools -->
                    <a href="{% url 'add_product' %}" class="dropdown-item burger-menu-text">Product Management</a>
                    <!-- Login user tools -->
                    <a href="{% url 'profile' %}" class="dropdown-item burger-menu-text">My Profile</a>
                    <a href="{% url 'user_inventory' %}" class="dropdown-item burger-menu-text">Inventory</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item burger-menu-text">Logout</a>
                {% else %}
                    <!-- Login user tools -->
                    <a href="{% url 'profile' %}" class="dropdown-item burger-menu-text">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item burger-menu-text">Logout</a>
                {% endif %}
            {% else %}
                <!-- New User tools -->
                <a href="{% url 'account_signup' %}" class="dropdown-item burger-menu-text">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item burger-menu-text">Login</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- End of burger Menu -->