{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Product container -->
    <div class="container-fluid">

        <!-- Product cards/containers -->
        <div class="row card-container">
                <h1>Hello</h1>
        </div>
        
    </div>

    <!-- Scroll back to top button -->
    <div id="scrol-top" class="row">
        <div class="col text-center" onclick="topFunction()" title="Go to top">
            <i class="fas fa-arrow-up"></i>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}

    <script>
        // Function from www.w3schools.com to return to top of the page
        //Get the button:
        scrolTopBtn = document.getElementById("scrot-top");

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

{% endblock %}