{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
        <!-- Required meta tags -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/4c53668ab7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobal.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>The Gym {% block extre_title %}{% endblock %}</title>

</head>


<body>
    <div id="content-holder" class="container-fluid h-100">
        <header id="main-navigation-bar" class="container-fluid sticky-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 col-md-2 d-flex justify-content-beggining align-items-center">
                        <!-- Image for logo made on https://www.freelogodesign.org/ -->
                        <!-- Muscle Gym Logo -->
                        <a href="{% url 'home' %}"><img id="header-gym-logo" src="/media/muscle-gym-logo-full-yelow.png"
                                alt="Muscle gym logo"></a>
                    </div>
                    <div id="navigation-links" class="col d-none d-md-flex justify-content-end align-items-center">
                        <!-- Navigation links -->
                        <ul class="list-inline text-center">
                            <li class="list-inline-item"><a class="navigation-link-text" href="{% url 'home' %}">Home</a></li>
                            <li class="list-inline-item"><a class="navigation-link-text" href="{% url 'products' %}">Products</a>
                            </li>
                            <li class="list-inline-item"><a class="navigation-link-text" href="#">Contacts</a></li>
                            
                        </ul>
                    </div>
                    <!-- My account button -->
                    <div class="col-2 d-none d-md-flex justify-content-end align-items-center my-account">
                            <a class="navigation-link-text btn-group dropleft" href="#" id="user-options" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p>My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu burger-menu-items-box" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <a href="" class="burger-menu-text">Product Management</a>
                                    {% endif %}
                                    <a href="" class="dropdown-item burger-menu-text">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item burger-menu-text">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item burger-menu-text">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item burger-menu-text">Login</a>
                                {% endif %}
                            </div>
                    </div>
                    <!-- Shopping cart button -->
                    <div class="col-2 d-none d-md-flex justify-content-center align-items-center">
                        <a class="{% if grand_total %} navigation-link-text-white {% else %} navigation-link-text {% endif %}" href="">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </div>

                    {% include 'includes/mobale-nav-bar.html' %}
                    
                </div>
            </div>

            {% include 'includes/mobale-user-tools.html' %}

        </header>

        <!-- Message container -->
        {% if messages %}
            <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}

    </div>  
</body>

</html>