{% extends "base.html" %}
{% load static %}

{% load shoppingBag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}

    <div class="container-fluis card-container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4 ">Shopping Bag</h2>
                <hr>
            </div>
        </div>
    
        <!-- Shopping bag items list -->
        <div class="container-fluid">
            <div class="row">
                <div class="col col-md-4 offset-md-8 text-center text-center text-md-right">
                    <a class="btn return-bbtn" href="{% url 'products' %}">
                        Keep Shopping
                    </a>
                </div>
            </div>
            <br>
            {% if bag_items %}
                <div class="d-block d-md-none text-center text-md-right">
                    <div class="row">
                        <div class="col">
                            {% include "shoppingBag/bag_total.html" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% include "shoppingBag/checkout_buttons.html" %}
                            <p class="text-muted md-5">A summary of your bag contents is below</p>
                        </div>
                    </div>
                    {% for item in bag_items %}
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2 shoppingBag-img">
                                {% include "shoppingBag/product_image.html" %}
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                {% include "shoppingBag/product_info.html" %}
                            </div>
                            <div class="col-12 col-sm-6 order-sm-last">
                                <p class="my-0">{{ item.product.price }} €</p>
                                <p><strong>{{ item.product.price | calc_subtotal:item.quantity }} €</strong></p>
                            </div>
                            <div class="col-12 col-sm-6">
                                {% include "shoppingBag/quantity.html" %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><hr></div>
                        </div>
                    {% endfor %}
                </div>
                <table class="table feuter-title-text d-none d-md-block">
                    <thead>
                        <tr>
                          <th scope="col">Product Info</th>
                          <th scope="col"></th>
                          <th scope="col">Product Price</th>
                          <th scope="col">Qty</th>
                          <th scope="col">Subtotal</th>
                        </tr>
                      </thead>
                    {% for item in bag_items %}
                        <tbody>
                            <tr>
                                {% include "shoppingBag/product_image.html" %}
                                <td>
                                    {% include "shoppingBag/product_info.html" %}
                                </td>
                                <td class="p-3">{{ item.product.price }} €</td>
                                <td class="p-3">
                                    {% include "shoppingBag/quantity.html" %}
                                </td>
                                <td class="p-3">{{ item.product.price | calc_subtotal:item.quantity }} €</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                    <tr>
                        <td class="text-center align-middle">
                            {% include "shoppingBag/checkout_buttons.html" %}
                        </td>
                        <td colspan="5" class="pt-5 text-right">
                            {% include "shoppingBag/bag_total.html" %}
                        </td>
                    </tr>
                </table>
            {% else %}
                <h5 class="text-general">Your Bag is Emty</h5>
            {% endif %}      
        </div>
    </div>

    <!-- Scroll back to top button -->
    <div id="scrol-top" class="row">
        <div class="col text-center" onclick="topFunction()" title="Go to top">
            <i class="fas fa-arrow-up"></i>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

    <script>
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // REmove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `/shoppingBag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

            $.post(url, data)
                .done(function() {
                    location.reload();
            });
        })

        // Function from www.w3schools.com to return to top of the page
        //Get the button:
        scrolTopBtn = document.getElementById("scrot-top");

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }
    </script>

{% endblock %}