{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="row categories-list">
        <div class="col d-none d-md-flex justify-content-center">
            <ul class="list-inline">
                <li class="list-inline-item"><a class="navigation-link-text-black" href="{% url 'products' %}?category=workout_plans">Workout Plans</a></li>
                <li class="list-inline-item text-left braker navigation-link-text-black">|</li>
                <li class="list-inline-item"><a class="navigation-link-text-black" href="{% url 'products' %}?category=training_equipment">Training Equipment</a></li>
                <li class="list-inline-item text-left braker navigation-link-text-black">|</li>
                <li class="list-inline-item"><a class="navigation-link-text-black" href="{% url 'products' %}?category=accessories">Accessories</a></li>
                <li class="list-inline-item text-left braker navigation-link-text-black">|</li>
                <li class="list-inline-item"><a class="navigation-link-text-black" href="{% url 'products' %}?category=supplements">Supplements</a></li>
                <li class="list-inline-item text-left braker navigation-link-text-black">|</li>
                <li class="list-inline-item"><a class="navigation-link-text-black" href="{% url 'products' %}?category=clothes">Clothes</a></li>
            </ul>
        </div>
        <div class="col d-flex d-md-none justify-content-center">
            <!-- Drop down menu button for Categories -->
            <a class="navigation-link-text-black btn-group dropleft" href="#" id="user-options" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <p>Choose a Category</p>
                </div>
            </a>
            <!-- User tools -->
            <div class="dropdown-menu burger-menu-items-box w-100" aria-labelledby="user-options">
                <ul class="navigation-link-text">
                    <li><a class="navigation-link-text" href="{% url 'products' %}?category=workout_plans">Workout Plans</a></li>
                    <li><a class="navigation-link-text" href="{% url 'products' %}?category=training_equipment">Training Equipment</a></li>
                    <li><a class="navigation-link-text" href="{% url 'products' %}?category=accessories">Accessories</a></li>
                    <li><a class="navigation-link-text" href="{% url 'products' %}?category=supplements">Supplements</a></li>
                    <li><a class="navigation-link-text" href="{% url 'products' %}?category=clothes">Clothes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card-columns card-container">
                {% for product in products %}
                    <a href="{% url 'product_detail' product.id %}">
                        <div class="card product-card">
                            {% if product.image %}
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            {% else %}
                                    <img src="/media/noimage.png" class="card-img-top" alt="{{ product.name }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title feuter-title-text">{{ product.name }}</h5>
                                <p class="card-text text-right text-small-black">
                                    {% if product.price != 0 %}
                                        {{ product.price }} €
                                    {% else %}
                                        Free for registered users!
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}