{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

    <!-- Bootstrap code snipet for horizontal card -->
    <div class="card mb-3" style="max-width: 90%; margin-left: 5%;">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if product.image %}
                    <a href="{{ product.image_url }}" target=_blank>
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a href="{{ MEDIA_URL }}noimage.png">
                        <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <!-- Product name -->
                    <h5 class="card-title dproduct-title-text">{{ product.name }}</h5>
                    <br>
                    <!-- Product control buttons and price-->
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <form class="form" action="{% url 'add_to_bag' product.id %}"
                                                    method="POST" class="row">
                                    {% csrf_token %}
                                    <!-- Quantaty input -->
                                    <div class="row">
                                        {% with product.has_sizes as s %}
                                            <div class="col">
                                                <ul class="list-inline">
                                                    {% if not product.unique %}
                                                        {% if s %}
                                                            <li class="col-sm-6 col-md-3 col-ld-2 list-inline-item text-center">
                                                                <p><strong>Size</strong></p>
                                                                <select name="product_size" id="id_product_size" class="form-control">
                                                                    <option value="xs">SX</option>
                                                                    <option value="s">S</option>
                                                                    <option value="m" selected>M</option>
                                                                    <option value="l">L</option>
                                                                    <option value="xl">XL</option>
                                                                </select>
                                                            </li>
                                                        {% endif %}
                                                    <!-- <li class="col-sm-6 col-md-3 col-ld-2 text-center list-inline-item">
                                                        <p><strong>Quantity:</strong></p>
                                                    </li> -->
                                                    <li class="col-sm col-md-3 col-ld-2 list-inline-item text-center form-group">
                                                        <p><strong>Quantity</strong></p>
                                                        <div class="input-group quantaty-container">
                                                            <input class="form-control text-center" type="number" name="quantity" value="1" min="1" max="99"
                                                                data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                        </div>
                                                    </li>
                                                    <!-- Add to bag button product -->
                                                    <li class="col-sm-12 col-ld-3 list-inline-item text-center text-md-right">
                                                        <input type="submit" class="btn colored-bbtn" value="Add to bag">
                                                    </li>
                                                    {% else %}
                                                        {% if request.user.is_authenticated %}
                                                            {% if product_check != product.id %}
                                                                <!-- Add to bag button -->
                                                                <li class="col-sm-12 col-ld-3 list-inline-item text-right bbt-aligntment-center ">
                                                                    <a href="{% url 'checkout_unique' product.id %}" class="btn colored-bbtn" >Add to Inventory</a>
                                                                </li>
                                                            {% else %}
                                                                <!-- Add to bag button -->
                                                                <li class="col-sm-12 col-ld-3 list-inline-item text-right bbt-aligntment-center">
                                                                    <a href="{% url 'user_inventory' %}" class="btn colored-bbtn" >This item is in your Inventory</a>
                                                                </li>
                                                            {% endif %}
                                                        {% else %}
                                                                <!-- Add to bag button -->
                                                                <li class="col-sm-12 col-ld-3 list-inline-item text-right bbt-aligntment-center">
                                                                <a href="{% url 'account_signup' %}" class="btn colored-bbtn" >Register if you want to purches this item</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        {% endwith %}
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Product price -->
                        <div class="row details-price">
                            <div class="col">
                                <p class="text-right detail-price">
                                    {% if product.price != 0 %}
                                        {{ product.price }} €
                                    {% else %}
                                        Free for registered users!
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Product details -->

                    <!-- Supper user management toosls -->
                    {% if request.user.is_superuser %}
                    <div class="row">
                        <div class="col text-right">
                            <small class="m1-3">
                                <a href="{% url 'edit_product' product.id %}">Edit</a>
                                |
                                <a id="deleteInput" class="text-danger cursor-fix" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>

                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete Item?</h5>
                                            </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete <strong>{{ product.name }}</strong>?</p>
                                                </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn transparent-bbtn" data-bs-dismiss="modal">Close</button>
                                            <a href="{% url 'delete_product' product.id %}" class="btn colored-bbtn">Confirm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </small>    
                        </div>
                    </div>
                    {% endif %}

                    {% if product.category %}
                        <div class="row">
                            <div class="col text-right">
                                <br>
                                <a class="text-small-black" href="{% url 'products' %}?category={{ product.category.name }}">
                                    <i class="fas fa-tag"></i>
                                    {{ product.category.friendly_name }}
                                </a>
                            </div>
                        </div>
                    {% endif %}
                    <br>
                    <!-- Product description -->
                    <p class="card-text text-general">
                        {{ product.description }}
                    </p>
                </div>
                <!-- Keep shopping button -->
                <br>
                <div class="row">
                    <div class="col col-md-4 offset-md-8 text-center">
                        <a href="{% url 'products' %}" class="btn transparent-bbtn">
                            <span>Keep Shopping</span>
                        </a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    {% for order in orders %}
        {% for item in order.lineitems.all %}
            {% if product.id == item.product.id %}
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% for order in orders %}
    <tr>
        <td>
            <a href="{% url 'order_history_unique' order.order_number %}" title="{{ order.order_number }}">
                {{ order.order_number|truncatechars:6 }}
            </a>
        </td>
        <td>{{ order.date }}</td>
        <td>
            {% for item in order.lineitems.all %}
                <li class="small" name="unique_product" value="{{ item.product.id }}">
                    {{ item.product.name }}
                </li>
            {% endfor %}
        </td>
        <td>{{ order.order_total }} €</td>
    </tr>
{% endfor %}

{% endblock %}